@inject NavigationManager Navigation
@inject VehiculoService VehiculoService
@page "/vehiculodetalle/{idVehiculo:int}"
@using PaseoExpressWebApp.Context;
@using PaseoExpressWebApp.Services;



<h3>Vehiculos</h3>


@*
@if (cuotaDiaria == null)
{
    <p>Cargando...</p>
}
else
{*@
    <MudCard>
        <MudCardHeader>
            <H5>Cuotas Diarias</H5>
            <br/>
            <P>
                Esta sección muestra la cuota diaria que se han pagado, incluyendo detalles sobre estos.
            </P>
        </MudCardHeader>
        <MudCardContent>
        <MudTable Items="@cuotaDiaria" SortLabel="Sort By" Dense="true" Hover="true" Bordered="true" Striped="true" Breakpoint="Breakpoint.Sm" Loading="true" LoadingProgressColor="Color.Info" Virtualize="true" FixedHeader="true">
                <HeaderContent>
                    <MudTh>Imagen</MudTh>
                    <MudTh>Última Suma</MudTh>
                    <MudTh>Conductor</MudTh>
                    <MudTh>Tarifa Diaria</MudTh>
                    <MudTh>Tarifa Ahorro</MudTh>
                    <MudTh>Fecha Transacción</MudTh>
                    <MudTh>Comentario</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <img src="@context.Imagen" alt="Imagen" width="50" height="50" />
                    </MudTd>
                    <MudTd>@context.UltimaSuma</MudTd>
                    <MudTd>@context.Conductor</MudTd>
                    <MudTd>@context.TarifaDiaria.ToString()</MudTd>
                    <MudTd>@context.TarifaAhorro.ToString()</MudTd>
                    <MudTd>@context.FechaTransaccion.ToString("dd/MM/yyyy")</MudTd>
                    <MudTd>@context.Comentario</MudTd>
                </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }"
                               RowsPerPageString="@rowsPerPageString"
                               InfoFormat="@infoFormat"
                               AllItemsText="@allItemsText"
                               HorizontalAlignment="@horizontalAlignment"
                               HideRowsPerPage="@hideRowsPerPage"
                               HidePageNumber="@hidePageNumber"
                               HidePagination="@hidePagination" />
            </PagerContent>
            </MudTable>
        </MudCardContent>
    </MudCard>

@*}*@

@*
@if (servicios == null)
{
    <p>Cargando...</p>
}
else
{*@
    <MudCard>
        <MudCardHeader>
            <H5>Servicios</H5>
            <br />
            <P>
                Aquí se detallan los servicios ofrecidos, incluyendo información relevante como el tipo de servicio, la fecha, costos y estado de confirmación.
            </P>
        </MudCardHeader>
        <MudCardContent>
            <MudTable Items="@servicios"  Height="500px" SortLabel="Sort By" Dense="true" Hover="true" Bordered="true" Striped="true" Breakpoint="Breakpoint.Sm" Loading="true" LoadingProgressColor="Color.Info" Virtualize="true" FixedHeader="true">
                <HeaderContent>
                    <MudTh>Tipo de Servicio</MudTh>
                    <MudTh>Imágenes</MudTh>
                    <MudTh>Título</MudTh>
                    <MudTh>Descripción</MudTh>
                    <MudTh>Fecha de Servicio</MudTh>
                    <MudTh>Cantidad Comprada</MudTh>
                    <MudTh>Costo Unitario</MudTh>
                    <MudTh>Costo Total</MudTh>
                    <MudTh>Marca</MudTh>
                    <MudTh>Kilometraje</MudTh>
                    <MudTh>Millaje</MudTh>
                    <MudTh>Próxima Fecha de Mantenimiento</MudTh>
                    <MudTh>Marca</MudTh>
                    <MudTh>Modelo</MudTh>
                    <MudTh>Año</MudTh>
                    <MudTh>Es Recurrente</MudTh>
                    <MudTh>Próximo Kilometraje</MudTh>
                    <MudTh>Próximo Millaje</MudTh>
                    <MudTh>Ubicación en el Automóvil</MudTh>
                    <MudTh>Precio Mano de Obra</MudTh>
                    <MudTh>Confirmado</MudTh>
                    <MudTh>Viáticos</MudTh>
                    <MudTh>Mano de Obra Personal</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.TipoServicio</MudTd>
                    <MudTd>
                        @if (!string.IsNullOrWhiteSpace(@context.Imagenes))
                        {
                            <img src="@context.Imagenes" alt="Imagen" width="50" height="50" />
                        }
                    </MudTd>
                    <MudTd>@context.Titulo</MudTd>
                    <MudTd>@context.Descripcion</MudTd>
                    <MudTd>@context.FechaServicio.ToShortDateString()</MudTd>
                    <MudTd>@context.CantidadComprada</MudTd>
                    <MudTd>@context.CostoUnitario.ToString()</MudTd>
                    <MudTd>@context.CostoTotal.ToString()</MudTd>
                    <MudTd>@context.Marca</MudTd>
                    <MudTd>@context.KilometrajeVehiculo</MudTd>
                    <MudTd>@context.MillajeVehiculo</MudTd>
                    <MudTd>@context.ProximaFechaMantenimiento</MudTd>
                    <MudTd>@context.VehiculoMarca</MudTd>
                    <MudTd>@context.VehiculoModelo</MudTd>
                    <MudTd>@context.VehiculoAnio</MudTd>
                    <MudTd>@(context.EsRecurrente ? "Sí" : "No")</MudTd>
                    <MudTd>@context.ProximoKilometraje</MudTd>
                    <MudTd>@context.ProximoMillaje</MudTd>
                    <MudTd>@context.UbicacionEnAutomovil</MudTd>
                    <MudTd>@context.PrecioManoObra.ToString()</MudTd>
                    <MudTd>@(context.Confirmado ? "Sí" : "No")</MudTd>
                    <MudTd>@context.Viaticos?.ToString()</MudTd>
                    <MudTd>@context.ManoObraPersonal.ToString()</MudTd>
                    </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }"
                               RowsPerPageString="@rowsPerPageString"
                               InfoFormat="@infoFormat"
                               AllItemsText="@allItemsText"
                               HorizontalAlignment="@horizontalAlignment"
                               HideRowsPerPage="@hideRowsPerPage"
                               HidePageNumber="@hidePageNumber"
                               HidePagination="@hidePagination" />
                </PagerContent>
                </MudTable>
            </MudCardContent>
        </MudCard>

@*}*@



@code {
    private HorizontalAlignment horizontalAlignment = HorizontalAlignment.Right;
    private bool hidePageNumber;
    private bool hidePagination;
    private bool hideRowsPerPage;
    private string rowsPerPageString = "Rows per page:";
    private string infoFormat = "{first_item}-{last_item} of {all_items}";
    private string allItemsText = "All";
    [Parameter]
    public int IdVehiculo { get; set; }

    private List<ObtenerTransaccionesPorVehiculoResult> cuotaDiaria;
    List<ObtenerServiciosPorVehiculoResult> servicios;

    protected override async Task OnInitializedAsync()
    {
        servicios = await VehiculoService.ObtenerServiciosPorVehiculoAsync(IdVehiculo);
        cuotaDiaria = await VehiculoService.ObtenerTransaccionesPorVehiculo(IdVehiculo);

        cuotaDiaria.OrderBy(x => x.FechaTransaccionHasta).ToList();
    }

}
